.number-input {
  margin-bottom: 5px;
}

.number-input label {
  margin-right: 5px;
  padding: 5px;
  display: block;
}

.number-input input {
  padding: 5px;

}

.number-input__error {
  color: red;
}